$pos : center;

%common
{
	padding : 20px;
}
table, td, th
{
	border: solid black;
	padding: 3px;
	text-align: $pos;
	padding-left: 25px;
	padding-right: 25px;
}


@media (max-width: 500px)
{
	table, td, th
	{
		padding-left: 10px;
		padding-right: 10px;
		font-size: 14px;
	}
}
.item
{
	width: 100%;
	@extend %common;
	margin: 0px auto;
	text-align: $pos;
}

.acimage
{
	height: 300px;
	width: 500px;
	@extend %common;
}

#links
{
	margin: 0px auto;
	text-align: $pos;
}

.item > h3
{
	text-align: left;
}

.heading
{
	.normal
	{
		display : inline;
	}
	a
	{
		display : none;
	}
}
.heading:hover
{
	.normal
	{
		display : none;
	}
	a
	{
		display : inline;
	}
}